In [40]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [52]:
dt = pd.read_csv('airline_sentiment_analysis.csv')
#dt = pd.read_csv("D:\Mentor Boxx-Machine Learning Training\Assignment\linear-Regression-master\Salary_Data.csv")
dt.head()

   S.no airline_sentiment                                               Desc
0     1          positive  @VirginAmerica plus you've added commercials t...
1     3          negative  @VirginAmerica it's really aggressive to blast...
2     4          negative  @VirginAmerica and it's a really big bad thing...
3     5          negative  @VirginAmerica seriously would pay $30 a fligh...
4     6          positive  @VirginAmerica yes, nearly every time I fly VX...

## Shape of Data

In [71]:
dt.shape

(11541, 3)

In [53]:
dt1 = dt[['S.no', 'airline_sentiment']]
dt2 = dt1.fillna(dt1.mean())
dt2.head()

   S.no airline_sentiment
0     1          positive
1     3          negative
2     4          negative
3     5          negative
4     6          positive

In [54]:
X = dt2.drop('S.no', axis=1)
y = dt2['S.no']

print('shape of X =',X.shape)
print('shape of y =',y.shape)

shape of X = (11541, 1)
shape of y = (11541,)

In [ ]:
from sklearn.model_selection import train_test_split

## Spilit Data in X and y

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=50)
print('shape of X_train =', X_train.shape)
print('shape of y_train =', y_train.shape)
print('shape of X_test =', X_test.shape)
print('shape of y_test =', y_test.shape )

shape of X_train = (8078, 1)
shape of y_train = (8078,)
shape of X_test = (3463, 1)
shape of y_test = (3463,)

## Split Data

In [69]:
X_train

      airline_sentiment
5637           negative
11407          negative
11459          negative
720            negative
3554           negative
...                 ...
8324           negative
10206          negative
6253           negative
10123          negative
5600           negative

[8078 rows x 1 columns]

In [70]:
X_test

     airline_sentiment
2969          negative
3611          negative
5902          positive
2584          negative
611           negative
...                ...
389           negative
3277          negative
2080          negative
3532          negative
9665          negative

[3463 rows x 1 columns]